<ngx-spinner type="ball-scale-multiple" fullScreen="true">

</ngx-spinner>
<h2>Detalle Ocupacion</h2>
<p-toolbar>
    <div class="p-toolbar-group-left flex flex-wrap">
    </div>
    <div class="p-toolbar-group-right">
        <p-splitButton [label]="estadoHabitacion?.estado_id == 2? 'Guardar':undefined" (onClick)="submitAll()" [disabled]="totalPagarReserva <= 0"  [model]="items"></p-splitButton>
    </div>
    <form [formGroup]="form">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <label>Nombre Habitacion</label>
                <input type="text" formControlName="nombreHabitacion"  pInputText class="w-full mb-3 border-round-3xl" >
            </div>
            <div class="field col-12 md:col-3">
                <label> CheckIn </label>
                <input type="text" formControlName="desde"  pInputText class="w-full mb-3 border-round-3xl"  >
            </div>

            <div class="field col-12 md:col-3">
                <label> CheckOut </label>
                <input type="text" formControlName="hasta"  pInputText class="w-full mb-3 border-round-3xl"  >
            </div>

            <div class="field col-12 md:col-3">
                <label>Nombre Cliente</label>
                <input type="text" formControlName="nombreCliente"  pInputText class="w-full mb-3 border-round-3xl"  >
            </div>

            <div class="field col-12 md:col-12">
                <label>Descripcion</label>
                <textarea formControlName="descripcion" pInputTextarea  required rows="3" cols="20"></textarea>
            </div>
        </div>
    </form>
    <p-message severity="error" class="padding" text="El total de abonos no puede ser mallor al total a pagar" *ngIf="abonosTotal>tarifasTotal" ></p-message>

</p-toolbar>

<div class="field col-12 md:col-12">
    <table>
        <tr>
            <th style="width: 20%;">Nombre</th>
            <th>Valores</th>
            <th>Detalle</th>
        </tr>

        <tr>
            <th> Tarifas</th>
            <th> $ {{ tarifasTotal | number }} </th>
            <td>
            <div class="ordenAdd" *ngIf="estadoHabitacion?.estado_id == 2">
                <button pButton pRipple (click)="addTarifa()" class="p-button" icon="pi pi-plus"></button>
            </div>
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th *ngIf="estadoHabitacion?.estado_id == 2">Opcion</th>
                </thead>
                <tbody *ngFor="let tarifasArray of dataTarifa; let i = index">
                    <td>
                        {{ tarifasArray?.nombre }}
                    </td>
                    <td>
                        {{ tarifasArray?.valor | number}}
                    </td>
                    <td *ngIf="estadoHabitacion?.estado_id == 2">
                        <p-button (click)="confirmDeleteTarifa(tarifasArray.id)" icon="pi pi-trash" severity="danger"></p-button>
                    </td>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <th> Productos / Servicios</th>
            <th> $ {{ totalProductos | number }} </th>
            <td>
            <div class="ordenAdd" *ngIf="estadoHabitacion?.estado_id == 2">
                <button pButton pRipple (click)="addProductos()" class="p-button" icon="pi pi-plus"></button>
            </div>
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Precio </th>
                    <th>Precio con Impuesto</th>
                    <th>Cantidad</th>
                    <th *ngIf="estadoHabitacion?.estado_id == 2">Opcion</th>
                </thead>
                <tbody *ngFor="let productosArray of dataProductos; let i = index">
                    <td>
                        {{ productosArray?.nombre }}
                    </td>
                    <td>
                        {{ productosArray?.valor | number }}
                    </td>
                    <td>
                        {{ productosArray?.valorImpuesto | number }}
                    </td>
                    <td>
                        {{ productosArray?.cantidad }}
                    </td>
                    <td *ngIf="estadoHabitacion?.estado_id == 2">
                        <p-button (click)="confirmDeleteProductos(productosArray.identificador)" icon="pi pi-trash" severity="danger"></p-button>
                    </td>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <th>Recetas</th>
            <th> $ {{ totalRecetas | number }} </th>
            <td>
            <div class="ordenAdd" *ngIf="estadoHabitacion?.estado_id == 2">
                <button pButton pRipple (click)="addRecetas()" class="p-button" icon="pi pi-plus"></button>
            </div>
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Precio con Impuesto</th>
                    <th>Cantidad</th>
                    <th *ngIf="estadoHabitacion?.estado_id == 2">Opcion</th>
                </thead>
                <tbody *ngFor="let recetasArray of dataReceta; let i = index">
                    <td>
                        {{ recetasArray?.nombre }}
                    </td>
                    <td>
                        {{ recetasArray?.valor | number }}
                    </td>
                    <td>
                        {{ recetasArray?.valorImpuesto | number }}
                    </td>
                    <td>
                        {{ recetasArray?.cantidad }}
                    </td>
                    <td *ngIf="estadoHabitacion?.estado_id == 2">
                        <p-button (click)="confirmDeleteRecetas(recetasArray.identificador)" icon="pi pi-trash" severity="danger"></p-button>
                    </td>
                </tbody>
            </table>
            </td>

        </tr>
        <tr>
            <th> Abonos</th>
            <th> $ {{ abonosTotal | number }} </th>
            <td>
                <div class="ordenAdd" *ngIf="estadoHabitacion?.estado_id == 2">
                    <!-- button pButton pRipple (click)="addAbonos()" class="p-button" icon="pi pi-plus"></button-->
                </div>
            <table>
                <thead>
                    <th>Monto</th>
                    <th>Metodo Pago</th>
                    <th *ngIf="estadoHabitacion?.estado_id == 2">Opcion</th>
                </thead>
                <tbody *ngFor="let metodosPagoArray of dataAbonos; let i = index">
                    <td>
                        {{ metodosPagoArray?.valor  | number }}
                    </td>
                    <td>
                        {{ metodosPagoArray?.nombre  }}
                    </td>
                    <td *ngIf="estadoHabitacion?.estado_id == 2">
                        <!--p-button (click)="confirmDeleteAbono(metodosPagoArray.identificador)" icon="pi pi-trash" severity="danger"></p-button--->
                    </td>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <th> Impuestos </th>
            <th> $ {{ totalImpuestos | number }} </th>
            <th>
                <!--table>
                    <thead>
                        <th>Monto</th>
                        <th>Porcentaje</th>
                    </thead>
                    <tbody *ngFor="let impuesto of impuestosData; let i = index">
                        <td>
                            {{ impuesto?.nombre }}
                        </td>
                        <td>
                            {{ impuesto?.porcentaje  }} %
                        </td>
                    </tbody>
                </table-->
            </th>
        </tr>
        <tr>
            <th> Sub Total</th>
            <th> $ {{ subtotaltotalPagarReserva <= 0?0: subtotaltotalPagarReserva | number}} </th>
            <td>
            </td>
        </tr>
        <tr>
            <th> Total</th>
            <th> $ {{ totalPagarReserva <= 0?0: totalPagarReserva | number }} </th>
            <td>
            </td>
        </tr>
    </table>
</div>

<p-dialog header="Agregar Tarifa" [(visible)]="tarifaVisible" [modal]="true" [style]="{ width: '50vw', height: '40vw' }" [draggable]="true" [resizable]="true">
    <div class="col-12">
        <form [formGroup]="formTarifa" (ngSubmit)="submitTarifa()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label>Tarifa</label>
                    <p-multiSelect [options]="allTarifas"  formControlName="tarifa_id"  optionLabel="nombre" placeholder="Buscar Tarifa" optionLabel="nombre" class="multiselect-custom"   emptyMessage="Tarifa no encontrada" display="chip">
                        <ng-template let-tarifa pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">
                                    {{ tarifa.nombre }}
                                    <p-tag icon="{{tarifa.icon}}"  class="padding" value="{{ tarifa.valor }}" ></p-tag>
                                    <div *ngIf="tarifa.tipo==2"><h5>Hora</h5></div>
                                    <div *ngIf="tarifa.tipo==1"><h5>Noche</h5></div>
                                </span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Agregar" [disabled]="this.formTarifa.invalid" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog>

<p-dialog header="Agregar Producto" [(visible)]="productoVisible" [modal]="true" [style]="{ width: '50vw', height: '40vw' }" [draggable]="true" [resizable]="true">
    <div class="col-12">
        <form [formGroup]="formProducto" (ngSubmit)="submitProducto()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="producto_id">Producto / Servicio</label>
                    <p-dropdown [options]="productoData"  formControlName="producto_id"   limoptionLabel="nombre" placeholder="Buscar Producto/Servicio" optionLabel="nombre" class="multiselect-custom"   emptyMessage="Producto no encontrado" display="chip">
                        <ng-template let-producto pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{producto.nombre}}</span>
                                <p-tag class="padding" value="{{ producto.valor }}"></p-tag>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="formProducto.get('producto_id').errors && (formProducto.get('producto_id').dirty || formProducto.get('producto_id').touched)">
                        <small *ngIf="formProducto.get('producto_id').hasError('required')">Producto es requerido.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Cantidad</label>
                    <input type="number" formControlName="cantidad"  pInputText class="w-full mb-3 border-round-3xl"  >
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Agregar"  [disabled]="this.formProducto.invalid" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog>

<p-dialog header="Agregar Receta" [(visible)]="recetaVisible" [modal]="true" [style]="{ width: '50vw', height: '40vw' }" [draggable]="true" [resizable]="true">
    <div class="col-12">
        <form [formGroup]="formReceta" (ngSubmit)="submitReceta()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="cliente">Receta</label>
                    <p-dropdown [options]="recetasData"  formControlName="receta_id"   limoptionLabel="nombre" placeholder="Buscar Receta" optionLabel="nombre" class="multiselect-custom"   emptyMessage="Producto no encontrado" display="chip">
                        <ng-template let-producto pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{producto.nombre}}</span>
                                <p-tag class="padding" value="{{ producto.precio }}" ></p-tag>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Cantidad</label>
                    <input type="number" formControlName="cantidad"  pInputText class="w-full mb-3 border-round-3xl"  >
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Agregar"  [disabled]="this.formReceta.invalid" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog>

<p-dialog header="Abonos " [(visible)]="abonoVisible" [modal]="true" [style]="{ width: '50vw', height: '40vw' }" [draggable]="true" [resizable]="true">
    <div class="col-12">
        <form [formGroup]="formMetodoPago" (ngSubmit)="submitAbono()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="cliente">Metodo Pago</label>
                    <p-multiSelect [options]="dataMetodosPago"  formControlName="metodo_pago_id" selectionLimit="1"  limoptionLabel="nombre" placeholder="Metodo pago" optionLabel="nombre" class="multiselect-custom"   emptyMessage="Producto no encontrado" display="chip">
                        <ng-template let-metodoPago pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{metodoPago.nombre}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Monto</label>
                    <input type="number" formControlName="valor"  pInputText class="w-full mb-3 border-round-3xl"  >
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Agregar"  [disabled]="this.formMetodoPago.invalid" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog>

<p-dialog header="Facturar " [(visible)]="facturarVisible" [modal]="true" [style]="{ width: '40vw', height: '40vw' }" [draggable]="true" [resizable]="true">
        <button pButton pRipple type="button" (click)="agregarAbonoOcupar()" icon="pi pi-plus" class="p-button-rounded"></button>
        <br><br>

            <div class="grid formgrid" *ngFor="let formGroupOcupar of formFacturacionMediosPago.controls; let i = index" [formGroup]="formGroupOcupar">
                <div class="col-12 mb-5 lg:col-5 lg:mb-5">
                    <label for="monto">Monto</label>
                    <br>
                    <input type="number" id="monto" formControlName="monto" pInputText placeholder="Valor" (input)="changeMedioPagoFactura()"  class="expandir" >
                    <br>
                    <div *ngIf="formGroupOcupar?.controls['monto']?.errors?.['required']" style="color: red;">Nombre es requerido.</div>
                </div>

                <div class="col-12 mb-5 lg:col-5 lg:mb-5" style="width: auto;">
                    <label htmlFor="medioPago">Medio Pago</label>
                    <br>
                    <p-dropdown [options]="dataMetodosPago"   class="expandir" formControlName="medio_pago"  id="medioPago"  optionLabel="nombre" ></p-dropdown>
                </div>

                <div class="col-12 mb-2 lg:col-2 lg:mb-5"  >
                    <label htmlFor="opciones"></label>
                    <br>
                    <p-button (click)="eliminarMedioPagoAbono(i)" id="opciones" icon="pi pi-trash" severity="danger"></p-button>
                </div>
            </div>


         <p-message severity="info" class="padding" text="El total ingresado no es igual al total a Pagar" *ngIf="totalFactura!=(this.totalPagarReserva)" ></p-message>

    <div class="field col-12 md:col-12">
        <button pButton pRipple (click)="submitFactura()" [label]="'Pagar '+(this.totalPagarReserva | number)"  [disabled]="this.formFacturacionMediosPago.invalid || totalFactura!=(this.totalPagarReserva)" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
    </div>
</p-dialog>
