        <div class="card">
            <h5>Habitaciones</h5>
            <p-accordion *ngFor="let item of dataRoom">
                <p-accordionTab  [header]="'Piso '+item.piso" [selected]="item.piso==primerPiso" class="line-height-3 m-0" (selectedChange)="openTag(item.piso)" > 
                    <ng-template let-product pTemplate="listItem"> 
                        <i class="pi pi-spin pi-spinner" style="font-size: 4em;" *ngIf="item.loading"></i> 
                        <div class="grid p-fluid mt-3"> 
                            <div class="field col-12 md:col-4" *ngFor="let habitaciones of item.habitaciones">
                                <div> 
                                    <div class="nomeRoome">
                                        <i class="pi-ellipsis-h" style="font-size: 2rem"></i>
                                        <label pButton icon="pi pi-clock" [label]="habitaciones.nombre" ></label>
                                    </div>
                                    <img src="https://cdn.pixabay.com/photo/2019/02/10/08/19/doors-3986684_1280.png" width="100%" height="100%"  class="rooms"/> 
                                    <div class="tag">
                                        <p-tag icon="pi-calendar-times" value="Reservada" class="tag" *ngIf="habitaciones.estado == 5"></p-tag>
                                        <p-tag icon="pi-lock-open" severity="success" value="Disponible" class="tag" *ngIf="habitaciones.estado == 3"></p-tag>
                                        <p-tag icon="pi-exclamation-triangle" severity="info" value="Limpiza" class="tag" *ngIf="habitaciones.estado == 4"></p-tag>
                                        <p-tag icon="pi-wrench" severity="warning" value="Mantenimiento" class="tag" *ngIf="habitaciones.estado == 6"></p-tag>
                                        <p-tag icon="pi-lock" severity="danger" value="Ocupada" class="tag" *ngIf="habitaciones.estado == 2"></p-tag>   
                                    </div>  
                                </div>
                            </div> 
                        </div>  
                    </ng-template> 
                </p-accordionTab>
            </p-accordion>
        </div>