.rooms { 
    cursor: pointer;
}

.tag {    
    padding: 0.5%; 
    display: flex;
    text-align: center;
}

.nomeRoome{
    text-align: center;
}

.padding{
    padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }