<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="card">
    <div >
        <p-tag icon="pi pi-calendar-times"  class="padding" value="Reservada"></p-tag>
        <p-tag icon="pi pi-lock-open"   class="padding" severity="success" value="Disponible"></p-tag>
        <p-tag icon="pi pi-exclamation-triangle"  class="padding"  severity="info" value="Limpieza" ></p-tag>
        <p-tag icon="pi pi-wrench" class="padding" severity="warning" value="Mantenimiento" ></p-tag>
        <p-tag icon="pi pi-lock" class="padding" severity="danger" value="Ocupada" ></p-tag> 
    </div>  
    
    <h5>Habitaciones</h5>
    <p-accordion *ngFor="let item of dataRoom">
        <p-accordionTab  [header]="'Piso '+item.piso" [selected]="item.piso==primerPiso" class="line-height-3 m-0" (selectedChange)="openTag(item.piso)" > 
            <ng-template let-product pTemplate="listItem"> 
                <i class="pi pi-spin pi-spinner" style="font-size: 4em;" *ngIf="item.loading"></i> 
                <div class="grid p-fluid mt-3"> 
                    <div class="field col-12 md:col-4" *ngFor="let habitaciones of item.habitaciones">
                        <div> 
                            <div class="nomeRoome">
                                <label pButton icon="pi pi-clock" [label]="habitaciones.nombre" ></label>
                            </div>
                            <i class="pi pi-ellipsis-v" style="font-size: 2rem; margin-top: 4%;  cursor: pointer;" (click)="abrirMenu($event, habitaciones)"></i>
                            <p-overlayPanel #op1 [showCloseIcon]="true" >
                                <p-menu [model]="menuHabitacion" (click)="opcionesHabitacion(habitaciones)"></p-menu>
                            </p-overlayPanel> 
                            <img src="https://cdn.pixabay.com/photo/2019/02/10/08/19/doors-3986684_1280.png" width="100%" height="100%"  class="rooms"/> 
                        </div>
                        <div class="flex flex-wrap gap-2" style="margin-left: 20%; " >  
                            <ng-container *ngFor="let estados of habitaciones.detalle"> 
                                <div *ngIf="estados.estado_id == 5" >
                                    <p-tag icon="pi pi-calendar-times" ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 3" >
                                    <p-tag icon="pi pi-lock-open" severity="success" ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 4"  >
                                    <p-tag icon="pi pi-exclamation-triangle" severity="info"></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 6" >
                                    <p-tag icon="pi pi-wrench" severity="warning"  ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 2"  >
                                    <p-tag icon="pi pi-lock" severity="danger"  ></p-tag>
                                </div>
                            </ng-container>
                        </div>  
                    </div> 
                </div> 
            </ng-template> 
        </p-accordionTab>
    </p-accordion>
</div>

<p-dialog header="Total reserva ${{totalPagarReserva}}" [(visible)]="reservacionModalVisible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12"> 
        <div  (ngSubmit)="reservarSubmit()">
            <h2 style="text-align: center;">{{ nombreHabitacionReservada }} </h2>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label for="cliente">Cliente</label>
                    <p-multiSelect [options]="clienteData"  selectionLimit="1" (onFilter)="busquedaCliente($event)" optionLabel="name" placeholder="Buscar cliente" optionLabel="name" class="multiselect-custom" display="chip" emptyMessage="Cliente no encontrado">
                        <ng-template let-cliente pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{cliente.name}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field col-12 md:col-12">
                    <label for="cliente">Producto / Servicio</label>
                    <!-- (onFilter)="busquedaProductoServicio($event)" (onChange)="checkProductoServicio($event)"-->
                    <p-multiSelect [options]="ProductoServicioData"  optionLabel="name" placeholder="Buscar Producto/Servicio" optionLabel="name" class="multiselect-custom"   emptyMessage="Producto no encontrado" display="chip">
                        <ng-template let-cliente pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{cliente.name}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field col-12 md:col-12">
                    <p-panel header="Abonos" [toggleable]="true" [collapsed]="true"   >
                        <button pButton pRipple type="button" (click)="agregarAbono()" icon="pi pi-plus" class="p-button-rounded"></button>
                        
                        <div style="margin-top: 5%;" class="grid formgrid" *ngFor="let formGroup of formReservacionArray.controls; let i = index" [formGroup]="formGroup">
                            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                                <label for="monto">Monto</label>
                                <br>
                                <input type="number" id="monto" formControlName="monto"  pInputText placeholder="Valor">
                                <br>
                                <div *ngIf="formGroup?.controls['monto']?.errors?.['required']" style="color: red;">Nombre es requerido.</div>
                                
                            </div>
                            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                                <label htmlFor="medioPago">Medio Pago</label>
                                <br>
                                <p-dropdown [options]="selectMedioPago"  formControlName="medio_pago"  id="medioPago"  optionLabel="nombre" ></p-dropdown>                        
                            </div>
                            <div class="col-12 mb-2 lg:col-2 lg:mb-0"  >
                                <label htmlFor="opciones"></label>
                                <br>
                                <p-button (click)="eliminarMedioPago(i)" id="opciones" icon="pi pi-trash" severity="danger"></p-button>
                            </div>
                        </div>
                    </p-panel>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label>Fecha Inicio </label>
                    <p-calendar inputId="fechaInicio" [(ngModel)]="fechaInicio" class="ng-invalid ng-dirty" [showIcon]="true"></p-calendar>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fecha Final</label>
                    <p-calendar inputId="fechaFinal" [(ngModel)]="fechaFinal" class="ng-invalid ng-dirty" [showIcon]="true"></p-calendar>
                </div> 
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Crear Reserva" icon="pi pi-calendar-times" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </div>
	</div>
</p-dialog>