<div class="card">
    <div >
        <p-tag icon="pi pi-calendar-times"  style="padding: 1%" value="Reservada"></p-tag>
        <p-tag icon="pi pi-lock-open" style="padding: 1%" severity="success" value="Disponible"></p-tag>
        <p-tag icon="pi pi-exclamation-triangle" style="padding: 1%" severity="info" value="Limpieza" class="box"></p-tag>
        <p-tag icon="pi pi-wrench" style="padding: 1%" severity="warning" value="Mantenimiento" class="box"></p-tag>
        <p-tag icon="pi pi-lock" style="padding: 1%" severity="danger" value="Ocupada" class="box"></p-tag> 
    </div>  
    
    <h5>Habitaciones</h5>
    <p-accordion *ngFor="let item of dataRoom">
        <p-accordionTab  [header]="'Piso '+item.piso" [selected]="item.piso==primerPiso" class="line-height-3 m-0" (selectedChange)="openTag(item.piso)" > 
            <ng-template let-product pTemplate="listItem"> 
                <i class="pi pi-spin pi-spinner" style="font-size: 4em;" *ngIf="item.loading"></i> 
                <div class="grid p-fluid mt-3"> 
                    <div class="field col-12 md:col-4" *ngFor="let habitaciones of item.habitaciones">
                        <div> 
                            <div class="nomeRoome">
                                <label pButton icon="pi pi-clock" [label]="habitaciones.nombre" ></label>
                            </div>
                            <i class="pi pi-ellipsis-v" style="font-size: 2rem; margin-top: 4%;  cursor: pointer;" (click)="abrirMenu($event, habitaciones)"></i>
                            <p-overlayPanel #op1 [showCloseIcon]="true" >
                                <p-menu [model]="menuHabitacion" (click)="opcionesHabitacion(habitaciones)"></p-menu>
                            </p-overlayPanel> 
                            <img src="https://cdn.pixabay.com/photo/2019/02/10/08/19/doors-3986684_1280.png" width="100%" height="100%"  class="rooms"/> 
                        </div>
                        <div class="flex flex-wrap gap-2">  
                            <ng-container *ngFor="let estados of habitaciones.detalle"> 
                                <div *ngIf="estados.estado_id == 5">
                                    <p-tag icon="pi pi-calendar-times"  ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 3" >
                                    <p-tag icon="pi pi-lock-open" severity="success" ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 4"  >
                                    <p-tag icon="pi pi-exclamation-triangle" severity="info"></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 6"  >
                                    <p-tag icon="pi pi-wrench" severity="warning"  ></p-tag>
                                </div>
                                <div *ngIf="estados.estado_id == 2"  >
                                    <p-tag icon="pi pi-lock" severity="danger"  ></p-tag>
                                </div>
                            </ng-container>
                        </div>  
                    </div> 
                </div> 
            </ng-template> 
        </p-accordionTab>
    </p-accordion>
</div>

<!--p-dialog header="Resevar" [(visible)]="reservacionModalVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <h5>Completa el formulario</h5>
        <form [formGroup]="formReservacion" (ngSubmit)="reservarSubmit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label>Nombre del Rol</label>
                    <input type="text" placeholder="Auditar" pInputText class="w-full mb-3 border-round-3xl" formControlName="nombre">
                </div>
                <div class="field col-12 md:col-4">
                    <label>Descripcion</label>
                    <input type="text" placeholder="aut" pInputText class="w-full mb-3 border-round-3xl" formControlName="descripcion">
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="state">Rol</label>
                    <select formControlName="estado" class="w-full mb-3 border-round-3xl selects-main">
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Crear Rol" icon="pi pi-user" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog-->