.rooms { 
    cursor: pointer;
}

.tag {    
    padding: 0.5%; 
    display: flex;
    text-align: center;
}

.nomeRoome{
    text-align: center;
}

.box {
    flex: 1; /* Hace que los elementos se expandan para ocupar el espacio disponible */
 
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.container{
    display: flex;

}